SOLANA_NODE_RPC_ENDPOINT=...
SOLANA_NODE_WSS_ENDPOINT=...

GEYSER_ENDPOINT=
GEYSER_API_TOKEN=
GEYSER_AUTH_TYPE=x-token or basic

SOLANA_PRIVATE_KEY=

HALT= #0,1 for stoppping trades last mile if 1 (failsafe)

MAX_CONCURRENT_POSITIONS=  #Allow simultaneous 'n' number of trades

DRY_RUN= #bool
DRY_RUN_STARTING_SOL=
DRY_RUN_DURATION_SECONDS= #Dry Run max duration
DRY_RUN_VALUE_MODE= #quote (for quoted real-time price valuation) or main (fixed prices for testing)
DRY_RUN_FEE_SOL= #Modifiable fees in dry run



VERBOSE_CONSOLE= #bool
VERBOSE_TRADE_LINES= #bool
VERBOSE_INCLUDE_POSITIONS= #bool
VERBOSE_PORTFOLIO_INTERVAL_SECONDS=

DEBUG_VALUATION= #bool